*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body{
  background-color: #d3d1d1;
  height: 100vh;
  width: 100%;
} 

.parent{
  min-height: 100vh;
  padding: 30px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 20px;

}

.card{
  height: 350px;
  width: 250px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 12px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.card p{
  margin-bottom: 10px 0;
  color: #333;
}

.card button{
  background-color: #d5d5d5;
  color: #000;  
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.center h3{
  font-size: 18px;
  font-weight: 500;

}

.center h2{
  font-size: 22px;
  font-weight: 600;
  /* margin: 10px 0; */
}

.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #000;
  font-weight: 400;
  padding: 3px 6px;
  border-radius: 5px;
}

.center span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: #b1b1b1 1px solid;
  padding-top: 15px;
  font-size: 10px;
}

.bottom button{
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 10px;
  
}

.bottom h3{
  font-size: 10px;
  font-weight: 400;
}
.bottom p{
  font-size: 9px;
  font-weight: 300;
}