*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #f0f0f0;
}

.card{
  background-color: #92f462;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
}

.nav{
  background-color: lightblue;
  padding: 20px;
  margin: 5px;
}