*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

input, button {
  font-family: inherit;
  margin: 10px;
  padding: 10px 20px;
}

.box{
  background-color: crimson;
  border: 2px solid #000000;
  padding: 20px;
  margin: 20px;
  height: 200px;
  width: 200px;
}

.page1{
  height: 100vh;
  width: 100;
  background-color: lightgreen;
}

.page2{
  height: 100vh;
  width: 100;
  background-color:blueviolet; 
}

.page3{
  height: 100vh;
  width: 100;
  background-color:darkgreen;
}