*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

button{
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;

}
h1{
  background-color: gainsboro;
  width: fit-content;
  font-size: 150px;
  padding: 10px 100px;
  margin: 20px;
  border-radius: 10px;
}